* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #333;
}

@font-face {
    font-family: 'Handlee';
    src: url('/public/fonts/Handlee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Handlee', Arial, sans-serif;
    background-color: #03346E;
    background-image:
        radial-gradient(ellipse at top, #021526 35%, transparent),
        radial-gradient(ellipse at center, #03346E, transparent),
        linear-gradient(to top, #6EACDA, transparent);
    background-size: 100vw 100%;
    color: white;
    overflow: hidden;
}

main {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: min(2vh, 2vw);
}

#header {
    display: grid;
    grid-template-columns: 5vh auto 5vh;
    user-select: none;
}

#header p {
    width: 100%;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

#start-new-note-button {
    position: fixed;
    top: min(2vh, 2vw);
    left: min(2vh, 2vw);
    width: 5vh;
    height: 5vh;
    z-index: 75;
    background-image: url('/public/images/square-plus-solid.svg');
}

#logout-button {
    background-image: url('/public/images/right-from-bracket-solid.svg');
}

.control-button {
    height: 100%;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 50ms ease-in-out;
}

.control-button:hover,
.control-button:active {
    background-size: 90% 90%;
}

#create-new-note-button {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-size: 20px;
    font-family: Georgia sans-serif;
    border-radius: 0px 0px 15px 15px;
    border: none;
    background-color: transparent;
    backdrop-filter: brightness(0.85);
    color: black;
}

#create-new-note-button:hover,
#create-new-note-button:active {
    backdrop-filter: brightness(0.7);
    color: white;
}

#new-note-container {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden;
    backdrop-filter: brightness(75%);
}

#new-note:hover {
    animation: none 1s linear 0s infinite;
}

#new-note-edit-container {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#note-container-wide {
    width: 100%;
    display: flex;
    justify-content: center;
}

#footer {
    width: 100%;
    height: 20vh;
}

main::-webkit-scrollbar {
    width: 1vw;
}

main::-webkit-scrollbar-track {
    background: transparent;
}

main::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border: 0px solid black;
    border-radius: 1vw;
    height: 35vh;
    opacity: 0;
}

main::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}